/**
* Import required styles
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/**
* Host just works on modern browsers, shadyCss doesn't polyfill correctly
*/

:host {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
